@model ActivityRoleCollectionModel

@{
    string CSHTML = "ActivityRole - Index.cshtml";
}

<div id="ZAjax"></div>

<script>
    $(function () {
        try {
            zUrlDictionaryClear();

            $("#ZAjax").load("@(Url.Action("Search", "ActivityRole", null, Request.Url.Scheme))", function (responseText, textStatus, jqXHR) { zAjaxLoadComplete(responseText, textStatus, jqXHR); });
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "function", exception.message));
        }
    });
</script>