<h2>@AuthenticationResources.ResetPasswordConfirmation</h2>
<hr />

<div>
    <p>
        @AuthenticationResources.ResetPasswordConfirmationMessage: @Html.ActionLink(AuthenticationResources.LogIn, "Login", "Authentication", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
