@model SupplierCollectionModel

@{
    string CSHTML = "Supplier - Search.cshtml";

    string controllerAction = Model.ControllerAction.ToLower();
    string controllerActionResource = PresentationResources.ResourceManager.GetString(Model.ControllerAction);

    string pageTitle = AppHelper.PageTitle(SupplierResources.EntitySingular, controllerAction, controllerActionResource, Model.IsMasterDetail);
    string documentTitle = AppHelper.DocumentTitle(pageTitle, Model.IsMasterDetail);
}

<h4>@pageTitle</h4>

<div class="form-inline" style="display: none;">
    @{ Html.RenderPartial("_SupplierCollection", Model); }
</div>

<script>
    $(function () {
        try {
            var url = zUrlDictionaryRead("Supplier"); // Master-Detail
            if (!url) {
                zUrlDictionaryWrite("Supplier", "@Context.Request.Url.AbsoluteUri");
            }
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "function", exception.message));
        }
    });
</script>