<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- The JSON request was too large to be deserialized -->
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <!-- !!! OWIN -->
    <!-- <add key="owin:AutomaticAppStartup" value="false" /> -->
    <add key="owin:AppStartup" value="EasyLOB.AuthenticationConfig" />
    <!-- !!! EasyLOB Audit Trail -->
    <add key="EasyLOB.AuditTrail" value="false" />
    <!-- !!! EasyLOB Data -->
    <add key="EasyLOB.AdoNet.IsolationLevel" value="false" />
    <add key="EasyLOB.AdoNet.RecordsBySearch" value="10" />
    <add key="EasyLOB.AdoNet.SequencePrefix" value="" />
    <!-- !!! EasyLOB Directory -->
    <add key="EasyLOB.Directory.Configuration" value="~/EasyLOB-Configuration" />
    <add key="EasyLOB.Directory.Export" value="~/EasyLOB-Export" />
    <add key="EasyLOB.Directory.Import" value="~/EasyLOB-Import" />
    <add key="EasyLOB.Directory.Template" value="~/EasyLOB-Templates" />
    <!-- !!! EasyLOB Extensions EDM -->
    <add key="EasyLOB.EDM.FileSystem.Directory" value="C:/EDM" />
    <add key="EasyLOB.EDM.FTP.Server" value="www.easylob.com" />
    <add key="EasyLOB.EDM.FTP.Port" value="21" />
    <add key="EasyLOB.EDM.FTP.User" value="user" />
    <add key="EasyLOB.EDM.FTP.Password" value="password" />
    <add key="EasyLOB.EDM.FTP.Root" value="EDM" />
    <!-- !!! EasyLOB Log -->
    <add key="EasyLOB.Log" value="true" />
    <!-- !!! EasyLOB Mail -->
    <add key="EasyLOB.Mail.FromAddress" value="" />
    <add key="EasyLOB.Mail.Host" value="" />
    <add key="EasyLOB.Mail.Port" value="" />
    <add key="EasyLOB.Mail.UserName" value="" />
    <add key="EasyLOB.Mail.Password" value="" />
    <add key="EasyLOB.Mail.SSL" value="" />
    <add key="EasyLOB.Mail.ToAddress" value="" />
    <!-- !!! EasyLOB Multi-Tenant -->
    <add key="EasyLOB.MultiTenant" value="false" />
    <!-- !!! EasyLOB Report RDL -->
    <add key="EasyLOB.Report.RDL.Url" value="http://localhost/ReportServer" />
    <add key="EasyLOB.Report.RDL.User" value="ssrs" />
    <add key="EasyLOB.Report.RDL.Password" value="P@ssw0rd" />
    <add key="EasyLOB.Report.RDL.Domain" value="" />
    <!-- !!! EasyLOB Report RDLC -->
    <add key="EasyLOB.Report.RDLC.Directory" value="~/EasyLOB-Reports/RDLC" />
    <!-- !!! EasyLOB Resources -->
    <add key="EasyLOB.Resources" value="EasyLOB.Authentication.Resources,Northwind.Resources,Northwind.Application.Resources,Northwind.Data.Resources,Northwind.Mvc.Resources" />
    <!-- !!! EasyLOB Transaction -->
    <add key="EasyLOB.Transaction" value="true" />
  </appSettings>
  <connectionStrings>
    <!-- !!! SQL Server -->
    <add name="Northwind" connectionString="Data Source=.;Initial Catalog=Northwind;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="Activity" connectionString="Data Source=.;Initial Catalog=EasyLOB3;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="AuditTrail" connectionString="Data Source=.;Initial Catalog=EasyLOB3;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
    <add name="Identity" connectionString="Data Source=.;Initial Catalog=EasyLOB3;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Persist Security Info=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework codeConfigurationType="Northwind.Persistence.NorthwindDbConfiguration, Northwind.PersistenceEntityFramework">
    <contexts>
      <!-- !!! -->
      <context type="Northwind.Persistence.NorthwindDbContext, Northwind.PersistenceEntityFramework" disableDatabaseInitialization="true" />
      <context type="EasyLOB.Activity.Persistence.ActivityDbContext, EasyLOB.Activity.PersistenceEntityFramework" disableDatabaseInitialization="true" />
      <context type="EasyLOB.AuditTrail.Persistence.AuditTrailDbContext, EasyLOB.AuditTrail.PersistenceEntityFramework" disableDatabaseInitialization="true" />
      <context type="EasyLOB.Identity.Persistence.IdentityDbContext, EasyLOB.Identity.PersistenceEntityFramework" disableDatabaseInitialization="true" />
      <context type="EasyLOB.Identity.ApplicationDbContext, EasyLOB.IdentityEntityFramework" disableDatabaseInitialization="true" />
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <!-- !!! SQL Server -->
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="EB42632606E9261F" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="AA95F207798DFDB4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Compression.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1460.0.52" newVersion="17.1460.0.52" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1460.0.52" newVersion="17.1460.0.52" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.XlsIO.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1450.0.52" newVersion="17.1450.0.52" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Pdf.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1450.0.52" newVersion="17.1450.0.52" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Presentation.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1450.0.52" newVersion="17.1450.0.52" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.DocIO.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1450.0.52" newVersion="17.1450.0.52" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.1.0" newVersion="7.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp from="email@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="465" userName="email@gmail.com" password="password" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <!-- ??? Performance -->
    <compilation debug="true" optimizeCompilations="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <!-- !!! Razor Errors -->
    <customErrors mode="Off" defaultRedirect="Error" />
    <!-- !!! Culture -->
    <globalization culture="auto:pt-BR" uiCulture="auto:pt-BR" requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpRuntime targetFramework="4.6" />
    <httpHandlers>
      <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=17.1450.0.52, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </httpHandlers>
    <pages>
      <namespaces>
        <add namespace="Syncfusion.MVC.EJ " />
        <add namespace="Syncfusion.JavaScript.Mobile " />
        <add namespace="Syncfusion.JavaScript " />
        <add namespace="Syncfusion.EJ.ReportViewer " />
      </namespaces>
    </pages>
    <!-- !!! -->
    <sessionState mode="InProc" />
  </system.web>
  <system.webServer>
    <handlers>
      
      
      
      
      <add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=17.1450.0.52, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" /><remove name="OPTIONSVerbHandler" /><remove name="TRACEVerbHandler" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
    <!-- !!! IIS -->
    <httpErrors existingResponse="PassThrough"></httpErrors>
    <!-- !!! -->
    <modules>
      <!-- !!! -->
      <remove name="AnonymousIdentification" />
      <remove name="DefaultAuthentication" />
      <remove name="FormsAuthentication" />
      <remove name="OutputCache" />
      <remove name="WindowsAuthentication" />
      <!-- !!! -->
      <remove name="BundleModule" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
    </modules>
    <!-- !!! -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="EasyLOB-Configuration" />
          <add segment="EasyLOB-Export" />
          <add segment="EasyLOB-Import" />
          <add segment="EasyLOB-Reports" />
          <add segment="EasyLOB-Templates" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <!-- !!! Globalize -->
    <!-- ??? Performance -->
    <staticContent>
      <clientCache cacheControlMaxAge="365.00:00:00" cacheControlMode="UseMaxAge" />
      <remove fileExtension=".gif" />
      <remove fileExtension=".js" />
      <remove fileExtension=".json" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".gif" mimeType="image/gif" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
      <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>